[build-system]
requires = [
    "setuptools>=61",
]
build-backend = "setuptools.build_meta"

[project]
name = "flood-adapt"
description = "A software package support ystem which can be used to assess the benefits and costs of flood resilience measures"
readme = "README.md"
authors = [
    { name = "Gundula Winter", email = "Gundula.Winter@deltares.nl" },
    { name = "Panos Athanasiou", email = "Panos.Athanasiou@deltares.nl" },
    { name = "Frederique de Groen", email = "Frederique.deGroen@deltares.nl" },
    { name = "Tim de Wilde", email = "Tim.deWilde@deltares.nl" },
    { name = "Julian Hofer", email = "Julian.Hofer@deltares.nl" },
    { name = "Daley Adrichem", email = "Daley.Adrichem@deltares.nl" },
    { name = "Luuk Blom", email = "Luuk.Blom@deltares.nl" },
]
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: CC0 1.0 Universal (CC0 1.0) Public Domain Dedication",
    "Topic :: Scientific/Engineering :: Hydrology",
]
requires-python = ">=3.8"
dependencies = [
    "cht-cyclones@ git+https://github.com/deltares/cht_cyclones.git",
    "cht-meteo",
    "cht-observations@ git+https://github.com/deltares/cht_observations.git",
    "cht-tide",
    "dask<2024.7.0", # The last version that still supports pandas 1.x, which we need until fiat-toolbox and noaa_cops become compatible with pandas 2.x
    "fiat-toolbox",
    "geojson",
    "geopandas",
    "hydromt-fiat@ git+https://github.com/deltares/hydromt_fiat.git@floodadapt",
    "hydromt-sfincs@ git+https://github.com/deltares/hydromt_sfincs.git@FA_quadtree",
    "numpy < 2.0",
    "numpy-financial",
    "pandas",
    "plotly",
    "pydantic",
    "pyogrio",
    "tomli",
    "tomli-w",
]
dynamic = [
    "version",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "black      == 24.1.1",
    "pre-commit == 3.7.1",
    "ruff       == 0.4.8",
    "typos      == 1.22.7",
]
build = [
    "build",
    "twine",

]
docs = [
    "jupyter",
    "jupyter-cache",
    "matplotlib",
    "quartodoc",
    "regex",
    "sphinx",
    "sphinx_rtd_theme"
]
all = [
    "flood-adapt[build,dev,docs]",
]

[project.urls]
Source = "https://github.com/Deltares-research/FloodAdapt"

[tool.setuptools]
zip-safe = false

[tool.setuptools.dynamic.version]
attr = "flood_adapt.__version__"

[tool.setuptools.packages.find]
include = [
    "flood_adapt",
    "flood_adapt.*",
]

[tool.setuptools.package-data]
flood_adapt = [
    "py.typed",
]

[tool.ruff]
line-length = 88
indent-width = 4

[tool.ruff.format]
docstring-code-format = true
indent-style = "space"

[tool.ruff.lint]
# https://docs.astral.sh/ruff/rules/
select = [
    "D",
    "E",
    "F",
    "NPY",
    "PD",
    "C4",
    "I",
]
ignore = [
    "D10",
    "D417",

    "PD010",
    "PD013",
    "PD901",

    "E501",
    "E741",
]
fixable = [
    "I",
    "F",
    "D"
]
[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.black]
line-length = 88
target-version = [
    "py311",
]

[tool.pyright]
reportDeprecated = true

[tool.typos]
files.extend-exclude = [
    "*.js",
    "*.css",
    "*.svg",
]
files.ignore-hidden = true

[tool.typos.default.extend-words]
strat = "strat"
