/*-- scss:defaults --*/

$background: #212529;
$highlight: #292e33;
$highlight: #373a3c;
$highlight-section: #D3D3D3;
$links: #080c80;
$text: #ffffff;

// $body-bg: $background;
// $body-color: $text;
$link-color: $links;
$navbar-hl: $links ;
// $navbar-bg: $highlight;

.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border: 1px solid rgb(222, 226, 230)
}

.nav-tabs .nav-link:hover {
    background-color: $highlight;
    border-color: $links;
    border: 1px solid $links;
}
// general sidebar settings
#quarto-sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    font-family:  Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
}

// !TODO: try to remove scroll bar. Hidden !important removes whole scroll functionality

.sidebar.collapse.collapse-horizontal.sidebar-navigation.docked.overflow-auto{
    overflow:hidden;
    margin-top: -25px !important;
}

// Sidebar Title
.sidebar-title {
    color: white;
    margin-left: 90px;
    margin-top: 20px !important;
    font-weight: bold;
    font-size: 16px !important;
    padding-top: 100px;
    font-family:  Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
}
.sidebar-header {
    background-color: #2980b9;
    height: 100px;
}

// scheme Toggle 
.quarto-color-scheme-toggle {
    /* Your positioning styles here */
    position: relative; 
    top: 10px; 
    left: 190px; 
    color:white;
}

// Search window
.sidebar-search {
    margin-left: 30px;
}

.sidebar-search .type-textbox {
    width: 245px;
}
// !TODO: try to change the container to align with gray background
.sidebar-menu-container{
    margin-right: 0px;
}

// Style 1st level Main Sections
.sidebar-item-container:first-of-type {
    color: #2980b9;
    font-weight: bold;
    font-size: 16px;
    margin:15px;    
}

.sidebar-item-text.sidebar-link.active{
    color:white;
  }

// Style 2nd level section background color
.sidebar-section{
    background:$highlight-section;
    width:100%;
    margin:0;
    padding: 0;
  }

// Style 2nd level section font
.collapse.list-unstyled.sidebar-section a{
    color: black;
    font-size: 15px;
    font-weight: normal;
} 

// Style 2nd level selection 
.collapse.list-unstyled.sidebar-section a:hover{
    background-color:rgb(192, 192, 192);
    width:100%;
    padding: 5px;
    margin-left: -20px;

}

.collapse.list-unstyled.sidebar-section.show a.active{
    color: black;
    font-weight: bold;
    background-color:rgb(177, 177, 177);
    width:100%;
    padding: 5px;
    margin-left: -20px;
} 

// Toggle Sections

.collapse.list-unstyled.sidebar-section.sidebar-item-toggle.text-start{
    width:100%;
    padding: 5px;
    margin-left: -20px;
}
// Style content 

.content {
    margin-left: 100px;
}

.nav-page-text{
    margin-left: 80px;
}
  h1,h2 {
     color: #080c80;
    }

//.sidebar-menu-container{
//    position: relative;
//    left: 30px;
//}