name: Build Documentation
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    name: Build and Deploy Documentation
    runs-on: windows-latest
    env:
      MINIO_ACCESS_KEY: ${{ secrets.MINIO_ACCESS_KEY }}
      MINIO_SECRET_KEY: ${{ secrets.MINIO_SECRET_KEY }}
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }} # only save cache on push to main
          environments: default
          frozen: true

      - name: Build docs
        run: |
          pixi run fetch-data
          pixi run render-docs

      - name: Read version
        run: |
          DOC_VERSION=$(pixi run python -c "from flood_adapt import __version__; print(__version__)")
          echo "DOC_VERSION=${DOC_VERSION}" >> $GITHUB_ENV

      - name: Upload to GitHub Pages
        if: ${{ github.event_name != 'pull_request' && !github.event.act }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_site
          keep_files: false
          full_commit_message: Deploy v${{ env.DOC_VERSION }} to GitHub Pages
