name: Linting PR description

on:
  pull_request:
    types: [opened, reopened, edited]

jobs:
  lint-description:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false

      - name: Compile commitlint binary
        run: |
          cargo install commitlint-rs

      - name: Lint message
        env:
          PR_NUMBER: ${{ github.event.number }}
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr view $PR_NUMBER --json title,body --jq ".title,.body" > lint-message.txt
          commitlint --edit lint-message.txt
